html {
  font-family: "Open Sans", sans-serif;
}

h1, h2 {
  font-family: Montserrat, sans-serif;
}

nav, footer {
  color: #e2d8cd;
  background-color: #271a02;
}

.pointer {
  cursor: default;
}

.navlink {
  text-decoration: none;
  color: #e2d8cd;
  transition: all .15s linear;
  border-radius: 3px;
}

.aside {
  color: #896d50;
}

.navlink1 {
  margin-left: .7rem;
}

.banner, .cats, .stories, .form {
  background-color: #e2d8cd;
}

.banner-title {
  color: #e2d8cd;
  text-shadow: .07em .07em .07em rgba(0, 0, 0, .8);
}

.banner-subtitle {
  color: #896d50;
  text-shadow: .07em .07em .07em rgba(0, 0, 0, .8);
}

.about, .donate {
  background-color: #efe9de;
}

.donatepic {
  border-radius: 3px;
}

.steps {
  color: #271a02;
  border-radius: 3px;
  transition: all .15s linear;
}

.footerlink {
  color: #e2d8cd;
  text-decoration: none;
  transition: all .15s linear;
  border-radius: 3px;
}

.steps:focus, .steps:hover, .navlink:focus, .navlink:hover, .footerlink:focus, .footerlink:hover {
  background-color: #896d50;
}

.steps:focus, .steps:hover > .steptitle {
  color: #e2d8cd;
}

.current {
  border-bottom: 10px solid #e2d8cd;
  padding-bottom: .5em;
}

.current:focus, .current:hover {
  color: #e2d8cd;
  background-color: #171007;
}

.facebook {
  color: #fff;
  background-color: #4267b2;
}

.btn-ghost {
  border-color: #9ab5ea;
  color: #fff;
  text-decoration: none;
  transition: all .15s linear;
}

.btn {
  transition: all .15s linear;
}

.btn-ghost:focus, .btn-ghost:hover {
  color: #4267b2;
  border-color: #fff;
  background-color: #fff;
}

.rescuepic {
  border-radius: 5px;
}

.polaroid {
  width: 100px;
  transition: all .15s linear;
  position: absolute;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  bottom: 1em;
  left: 1em;
}

.polaroid:nth-child(1) {
  transform: rotate(-10deg);
  z-index: 1;
  left: 1em;
  top: 2em;
}

.polaroid:nth-child(2) {
  transform: rotate(15deg);
  z-index: 3;
  left: 5em;
  top: 5em;
}

.polaroid:nth-child(3) {
  transform: rotate(5deg);
  z-index: 2;
  left: 9em;
  top: 2em;
}

.polaroid:hover, .polaroid:focus {
  z-index: 4;
  transform: rotate(0deg);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .9);
}

.adoptlink, .fineprint {
  color: #000;
  text-decoration: none;
}

.adoptlink:hover, .adoptlink:focus {
  color: #000;
  text-decoration: underline;
}

.card {
  text-decoration: none;
}

.adoptcard, .adoptpic {
  background-color: #efe9de;
  color: #000;
  border-radius: 3px;
  transition: all .15s linear;
}

.adoptcard:hover, .adoptcard:focus {
  background-color: #896d50;
  color: #efe9de;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .9);
}

fieldset {
  border: 0;
}

input, select {
  border-color: #271a02;
}

@media only screen and (min-width: 1em) {

  .storiesdiv {
    padding-bottom: 12em;
  }

}

@media only screen and (min-width: 25em) {

  .storiesdiv {
    padding-bottom: 2em;
  }

  .rescuepics {
    top: 1em;
  }

  .donatepic {
    margin-left: 1rem;
  }

}

@media only screen and (min-width: 30em) {

  .current {
    padding-bottom: 1.3em;
  }

  .polaroid {
    width: 150px;
  }

}

@media only screen and (min-width: 50em) {

  .rescuepics {
    left: 3em;
  }

  .polaroid {
    width: 200px;
  }

}
